<div  class="form-signin">
<%= form_for  @admin do |f|  %>
  <%= f.label :firstname , class:"d-block" %>
  <%= f.text_field :firstname, class:"names"%>
  <%= f.label :lastname , class:"d-block"%>
  <%= f.text_field :lastname, class:"names" %>
  <%= f.label :username , class:"d-block"%>
  <%= f.text_field :username, class:"names" %>
   <%=f.label :email, class:"d-block" %>
 <input type="email" name="email"></input>
 <%=f.label :password, class:"d-block" %>
 <input type="password" name="password"></input></br>
  <%= f.submit %>
<% end %>
</div>