<div class="row">
<div class="card col-sm-12">
  <div class="card-body">
    <h5 class="card-title"><%= @admin.firstname %> <%= @admin.lastname %></h5>
    <p class="card-text"><table class="table table-hover">
  <thead>
    <tr>
      <th class="table-head" scope="col">Username</th>
      <th class="table-head" scope="col">Email</th>
      <th class="table-head" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row"><%= @admin.username %></td>
      <td><%= @admin.user.email %></td>
      <td><a href="/admins/<%=@admin.id%>/edit">Edit</a></td>
    </tr>
  </tbody>
</table></p>
  </div>
</div>
</div>
