    <tr>
      <td scope="row"><%= @new_student.firstname %></td>
      <td><%= @new_student.lastname %></td>
      <td><%= @new_student.age %></td>
      <td><%= @new_student.education %></td>
      <td><a href="/students/<%= @new_student.id %>/edit">Edit</a></td>
    </tr>