<div  class="form-signin">
<%= form_for  @student do |f| %>
  <%= f.label :firstname, class:"d-block"  %>
  <%= f.text_field :firstname, class:"names" %>
  <%= f.label :lastname, class:"d-block" %>
  <%= f.text_field :lastname, class:"names" %>
  <%= f.label :username, class:"d-block" %>
  <%= f.text_field :username, class:"names" %>
  <%= f.label :age, class:"d-block" %>
  <%= f.number_field :age, class:"age" %>
  <%= f.label :birthday, class:"d-block" %>
  <%= f.text_field :birthday, class:"birthday" %>
  <%= f.label :education, class:"d-block" %>
  <%= f.text_field :education, class:"education" %></br>
  <%= f.submit %>
<% end %>
</div>