<div class="row">
<div class="card col-sm-12">
  <div class="card-body">
    <h5 class="card-title"><%= @student.firstname %> <%= @student.lastname %></h5>
    <p class="card-text"><table class="table table-hover">
  <thead>
    <tr>
      <th class="table-head" scope="col">Username</th>
      <th class="table-head" scope="col">Email</th>
      <th class="table-head" scope="col">Age</th>
      <th class="table-head" scope="col">Education</th>
      <th class="table-head" scope="col">Birthday</th>
      <th class="table-head" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row"><%= @student.username %></td>
      <td><%= @student.email %></td>
      <td><%= @student.age %></td>
      <td><%= @student.education %></td>
      <td><%= @student.birthday %></td>
      <td><a href="/students/<%=@student.id%>/edit">Edit</a></td>
    </tr>
  </tbody>
</table></p>
  </div>
</div>
</div>
