<h3> All Teachers </h3>
  <table class="table table-hover">
  <thead>
    <tr>
      <th class="table-head" scope="col">First Name</th>
      <th class="table-head" scope="col">Last Name</th>
      <th class="table-head" scope="col">Age</th>
      <th class="table-head" scope="col">Salary</th>
      <th class="table-head" scope="col">Education</th>
      <th class="table-head" scope="col">Specialty</th>
      <th class="table-head" scope="col"></th>
    </tr>
  </thead>
  <tbody id="teacher_table">
  <%@teachers = Teacher.all%>
  <% @teachers.each do |teacher| %> 
    <tr>
      <td scope="row"><%= teacher.firstname %></td>
      <td><%= teacher.lastname %></td>
      <td><%= teacher.age %></td>
      <td><%= teacher.salary %></td>
      <td><%= teacher.education %></td>
      <td><%= teacher.specialty.join(", ") %></td>
      <td><a href="/teachers/<%=teacher.id%>/edit">Edit</a></td>
    </tr>
    <% end %>
  </tbody>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn student-table offset-5" data-toggle="modal" data-target="#modalCenter">
<%= link_to "New", new_teacher_path(@new_teacher), remote: true %>
</button>

<!-- Modal -->
<div class="modal fade " id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add a new Teacher below</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div  class="form-signin">
        <%= form_for  @new_teacher, remote: true, authenticity_token: true do |f| %>
          <%= f.label :firstname, class:"d-block"  %>
          <%= f.text_field :firstname, class:"names" %>
          <%= f.label :lastname, class:"d-block" %>
          <%= f.text_field :lastname, class:"names"  %>
          <%= f.label :username, class:"d-block" %>
          <%= f.text_field :username, class:"names"  %>
          <%= f.label :age, class:"d-block" %>
          <%= f.number_field :age, class:"age" %>
          <%= f.label :salary, class:"d-block" %>
          <%= f.text_field :salary, class:"salary" %>
          <%= f.label :education, class:"d-block"  %>
          <%= f.select :education, ['High School',  'College' , 'Masters',  'Phd']%>
          <%= f.label :specialty, class:"d-block" %>
          <%= f.text_field :specialty, class:"specialty" %>
          <%=f.label :email, class:"d-block" %>
        <input type="email" name="email"></input>
        <%=f.label :password, class:"d-block" %>
        <input type="password" name="password"></input>
          <%= f.submit %>
        <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>