<div  class="form-signin">
<%= form_for  @teacher do |f| %>
  <%= f.label :firstname, class:"d-block"  %>
  <%= f.text_field :firstname, class:"names" %>
  <%= f.label :lastname, class:"d-block" %>
  <%= f.text_field :lastname, class:"names"  %>
  <%= f.label :username, class:"d-block" %>
  <%= f.text_field :username, class:"names"  %>
  <%= f.label :age, class:"d-block" %>
  <%= f.number_field :age, class:"age" %>
  <%= f.label :salary, class:"d-block" %>
  <%= f.text_field :salary, class:"salary" %>
  <%= f.label :education, class:"d-block" %>
  <%= f.text_field :education, class:"education" %>
  <%= f.label :specialty, class:"d-block" %>
  <%= f.text_field :specialty, class:"specialty" %>
  <%=f.label :email, class:"d-block" %>
  <%= f.email_field(:email) %>
  <%=f.label :password, class:"d-block" %>
  <%= f.password_field_tag(:password) %></br>
  <%= f.submit %>
<% end %>
</div>