<div class="jumbotron jumbotron-fluid jumbotron-courses">
  <div class="container">
    <h1 class="display-4"><%= @course.name %></h1>
    <p class="lead"><%= @course.description %></p>
    <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>
<div class="row">
<% @cohorts.each do |cohort| %>
<% @teacher = Teacher.find(cohort.teacher_id) %>
  <div class="col-sm-6">
    <div class="card">
    <h5 class="card-header"><%= @teacher.firstname %> <%= @teacher.lastname %></h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">Cohort runs from <%= cohort.start_date %> until <%= cohort.end_date %></p>
        <a href="/cohorts/<%= cohort.id %>" class="btn">View</a>
      </div>
    </div>
  </div>
  <% end %>
  </div>